@using CMS.Models.Supermarket.Suppliers;
@using CMS.Utilities.Helpers
@model SupplierDeleteRequest
@{
    ViewData["Title"] = "Delete Supplier";
    Layout = "~/Views/Shared/_LayoutConfirm.cshtml";
}

<main class="main card-bg" id="top">
    <div class="container-fluid" data-layout="container-fluid">
        <div class="content pb-0">
            <form asp-action="Delete" method="post">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger pt-2 pb-2 mt-1 mb-2" role="alert">
                        @ViewBag.Error
                    </div>
                }
                else if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    if (ViewBag.Message.Equals(ConstantHelper.UpdateSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.InsertSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.DeleteSuccess))
                    {
                        <script type="text/javascript">
                            window.parent.closeDialog(true);
                        </script>
                    }
                    else
                    {
                        <div class="alert alert-success pt-2 pb-2 mt-1 mb-2" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                }
                <div class="pt-4 pb-4">
                    <div class="pt-4 pb-4">
                        <div class="fs-0">
                            Bạn thực sự muốn xóa loại nguyên liệu <b>@Model.SupplierName</b>?
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="SupplierID" />
                <input type="hidden" asp-for="SupplierName" />
                <input type="hidden" asp-for="ContactPerson" />
                <div class="row position-fixed bottom-0 bg-light w-100 pt-2">
                    <div class="col d-flex justify-content-end align-items-center p-0 pe-3">
                        <input type="button" value="Hủy" onclick="return onCancel_Click();" class="col-auto btn btn-danger" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                        <input type="submit" value="Xóa" onlick="return onDone_Click();" class="col-auto btn btn-primary ms-2r" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
