@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row flex-center min-vh-100 py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
        <a class="d-flex flex-center mb-4" href="#"><img class="me-2" src="/assets/img/icons/spot-illustrations/chatbot.png" alt="" width="58" />
            <span class="font-sans-serif fw-bolder fs-5 d-inline-block">iChatCMS</span></a>
        <div class="card">
            <div class="card-body p-4 p-sm-5">
                <div class="fw-black lh-1 text-300 fs-error">400</div>
                <div class="card-header">
                    <div class="row">
                        <span style="font-size:30px; color:red;">@ViewData["Title"]</span>
                    </div>
                </div>
                <div class="card-body text-800">
                    <div class="row">
                        <div class="col fw-bolder text-center">
                            Bạn chưa có quyền truy cập chức năng này.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fw-bolder text-center">
                            Vui lòng liên hệ ban quản trị để được hỗ trợ!
                        </div>
                    </div>
                </div>
                <hr />
                <a class="btn btn-primary btn-sm mt-3" href="@Url.Action("index", "home")"><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span>Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>