@using CMS.Models.Supermarket.Products;
@using CMS.Utilities.Helpers
@model ProductCreateRequest
@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/_LayoutConfirm.cshtml";
}

<main class="main card-bg" id="top">
    <div class="container-fluid" data-layout="container-fluid">
        <div class="content pb-2">
            <form asp-action="create" method="post" enctype="multipart/form-data" class="col-12">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger pt-2 pb-2 mt-1 mb-2" role="alert">
                        @ViewBag.Error
                    </div>
                }
                else if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    if (ViewBag.Message.Equals(ConstantHelper.UpdateSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.InsertSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.DeleteSuccess))
                    {
                        <script type="text/javascript">
                            window.parent.closeDialog(true);
                        </script>
                    }
                    else
                    {
                        <div class="alert alert-success pt-2 pb-2 mt-1 mb-2" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                }
                <div class="mb-2 mt-1">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" type="text" placeholder="" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-2 mt-1">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" type="text" placeholder="" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @* <div class="mb-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="StockQuantity" class="control-label"></label>
                    <input asp-for="StockQuantity" class="form-control" placeholder="" />
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div> *@
                <div class="mb-2">
                    <label asp-for="Barcode" class="control-label"></label>
                    <input asp-for="Barcode" class="form-control" placeholder="" />
                    <span asp-validation-for="Barcode" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="CategoryID" class="control-label"></label>
                    @Html.DropDownListFor(
                             m => m.CategoryID,
                             ViewBag.Categories as SelectList,
                             new { @class = "form-select" }
                             )
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="SupplierID" class="control-label"></label>
                    @Html.DropDownListFor(
                             m => m.SupplierID,
                             ViewBag.Suppliers as SelectList,
                             new { @class = "form-select" }
                             )
                    <span asp-validation-for="SupplierID" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="ImageUpload">Chọn ảnh</label>
                    <input asp-for="ImageUpload" type="file" class="form-control" />
                    @* <label asp-for="ImageUpload" class="control-label">Chọn ảnh sản phẩm</label>
                    <input type="file" asp-for="ImageUpload" class="form-control" placeholder="" name="ImageUpload" /> *@
                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                </div>
               @*  <div class="mb-2">
                    <label class="form-label" asp-for="ExpirationDate"></label>
                    <input class="form-control datetimepicker" asp-for="ExpirationDate" type="text" placeholder="Select date and time" data-options='{"dateFormat":"d/m/Y"}' />
                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                </div> *@
                <div class="mt-5"></div>
                <div class="row position-fixed bottom-0 bg-light w-100 pt-2">
                    <div class="col d-flex justify-content-end align-items-center p-0 pe-3">
                        <input type="button" value="Hủy" onclick="return onCancel_Click();" class="col-auto btn btn-danger" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                        <input type="submit" value="Thêm" class="col-auto btn btn-primary ms-2" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>