@using CMS.Models.Authen.Users
@using CMS.Utilities.Helpers
@model UserEditRequest
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_LayoutConfirm.cshtml";
}

<main class="main card-bg" id="top">
    <div class="container-fluid" data-layout="container-fluid">
        <div class="content pb-2">
            <form asp-action="edit" class="col-12">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger pt-2 pb-2 mt-1 mb-2" role="alert">
                        @ViewBag.Error
                    </div>
                }
                else if (!string.IsNullOrEmpty(ViewBag.Message))
                {

                    if (ViewBag.Message.Equals(ConstantHelper.UpdateSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.InsertSuccess)
                    || ViewBag.Message.Equals(ConstantHelper.DeleteSuccess))
                    {
                        <script type="text/javascript">
                            window.parent.closeDialog(true);
                        </script>
                    }
                    else
                    {
                        <div class="alert alert-success pt-2 pb-2 mt-1 mb-2" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                }
                <input type="hidden" asp-for="Id" />
                <input asp-for="Color" type="hidden" />
                <input asp-for="Background" type="hidden" />
                <div class="mb-2">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" id="basic-form-name" type="text" placeholder="FullName" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label class="form-label" asp-for="DateOfBirth"></label>
                    <input class="form-control datetimepicker"asp-for="DateOfBirth" type="text" placeholder="Date Of Birth" data-options='{"dateFormat":"d/m/Y"}'/>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="GenderId" class="control-label"></label>
                    @Html.DropDownListFor(
                    m => m.GenderId,
                    ViewBag.Genders as SelectList,
                    new { @class = "form-control" }
                    )
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" id="basic-form-email" type="email" placeholder="name@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" id="basic-form-phonenumber" type="PhoneNumber" placeholder="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" id="basic-form-address" type="Address" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" id="basic-form-comment" type="Comment" placeholder="Comment" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="UserStatusId" class="control-label"></label>
                    @Html.DropDownListFor(
                    m => m.UserStatusId,
                    ViewBag.UserStatuses as SelectList,
                    new { @class = "form-control" }
                    )
                    <span asp-validation-for="UserStatusId" class="text-danger"></span>
                </div>
                <div class="mt-5"></div>
                <div class="row position-fixed bottom-0 bg-light w-100 pt-2">
                    <div class="col d-flex justify-content-end align-items-center p-0 pe-3">
                        <input type="button" value="Hủy" onclick="return onCancel_Click();" class="col-auto btn btn-danger" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                        <input type="submit" value="Cập nhật" class="col-auto btn btn-primary ms-2" style="margin-left:10px !important; padding-left:30px; padding-right:30px;" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>